# HDFS logs EDA

In this notebook, we aim to explore the loghub HDFS dataset, and extract labels in order to evaluate our implementation's inference procedure.

In [1]:
import pandas as pd

In [6]:
true_labels = pd.read_csv('./data/preprocessed/anomaly_label.csv')
true_labels

                         BlockId    Label
0       blk_-1608999687919862906   Normal
1        blk_7503483334202473044   Normal
2       blk_-3544583377289625738  Anomaly
3       blk_-9073992586687739851   Normal
4        blk_7854771516489510256   Normal
...                          ...      ...
575056   blk_1019720114020043203   Normal
575057  blk_-2683116845478050414   Normal
575058   blk_5595059397348477632   Normal
575059   blk_1513937873877967730   Normal
575060  blk_-9128742458709757181  Anomaly

[575061 rows x 2 columns]

In [8]:
true_labels['Label'] = (true_labels['Label'] == 'Anomaly').astype('int64')

In [9]:
true_labels

                         BlockId  Label
0       blk_-1608999687919862906      0
1        blk_7503483334202473044      0
2       blk_-3544583377289625738      1
3       blk_-9073992586687739851      0
4        blk_7854771516489510256      0
...                          ...    ...
575056   blk_1019720114020043203      0
575057  blk_-2683116845478050414      0
575058   blk_5595059397348477632      0
575059   blk_1513937873877967730      0
575060  blk_-9128742458709757181      1

[575061 rows x 2 columns]